- creator_option = task.creator.present? ? [[task.creator.name, task.creator_id]] : [[current_user.name, current_user.id]]
- assignee_options = task.assignee.present? ? [[task.assignee.name, task.assignee_id]] : options_from_collection_for_select(User.all, :id, :name)
- state_options = Task.states.map { |state| [state, state] }
.container.mt-5
  = form_for task, url: { action: action } do |f|
    .form-group
      = f.label :name, 'Task name'
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :description, 'Task description'
      = f.text_field :description, class: 'form-control'
    .form-group
      = f.label :creator_id, 'Task creator'
      = f.select :creator_id, creator_option, {},
        class: 'form-control custom-select'
    .form-group
      = f.label :assignee_id, 'Task assignee'
      = f.select :assignee_id, assignee_options,
        { include_blank: 'Select assignee' }, class: 'form-control custom-select'
    - if action == :update
      .form-group
        = f.label :state, 'Task state'
        = f.select :state, state_options, {}, class: 'form-control custom-select'
    = f.submit submit_text, class: 'btn btn-primary'
