.container
  .row
    .col.align-self-center
      h2 Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
        .form-group
          = f.label :password
          br
          = f.password_field :password, autocomplete: 'off', class: 'form-control'
        - if devise_mapping.rememberable?
          .form-check
            = f.check_box :remember_me, class: 'form-check-input'
            = f.label :remember_me, class: 'form-check-label'
        .form-group
          = f.submit 'Log in', class: 'btn btn-primary'
      = render 'users/shared/links'
