header
  .navbar.navbar-expand-lg.navbar-dark.bg-primary
    = link_to 'TaskYourself', root_path, class: 'navbar-brand'
    = link_to 'Create task', new_task_path, class: 'btn btn-outline-light mr-auto'
    = form_tag(search_tasks_path, method: :get, class: 'form-inline') do
      = text_field_tag :query, '', placeholder: 'Search tasks', class: 'form-control mr-sm-2'
      = button_tag name: nil, type: :submit, class: 'btn btn-outline-light my-2 my-sm-0' do
        = fa_icon 'search'
    ul.navbar-nav
      li.nav-item
        = link_to "Logged as #{current_user.email}", user_root_path, class: 'nav-link'
      li.nav-item
        = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'
