table.table.table-striped
  caption= caption
  thead
    tr
      th scope='col' ID
      th scope='col' Name
      th scope='col' Description
      th scope='col' Creator
      th scope='col' State
      th scope='col' Edit
      th scope='col' Destroy
  tbody
    - tasks.each do |task|
      tr
        td scope='row'= task.id
        td= task.name
        td= task.description
        td= task.creator.name
        td= task.state
        td= link_to edit_task_path(task) do
              = fa_icon 'edit'
        td= link_to task_path(task), method: :delete do
          = fa_icon 'times'
