.container
  .row
    .col.align-self-center
      .jumbotron
        h1.display-4 TaskYouself
        p.lead Simple tool for create and do tasks
        hr.my-4
        p.lead
          = link_to 'Sign in', new_user_session_url, class: 'btn btn-primary btn-lg', role: 'button'
