.row
  .col.justify-self-start
    = render partial: 'shared/tasks_table', locals: { tasks: @user.created_tasks, caption: 'Created tasks' }
  .col.justify-self-end
    = render partial: 'shared/tasks_table', locals: { tasks: @user.assigned_tasks, caption: 'Assigned tasks' }
