doctype html
html
  head
    title TaskYourself
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    - if notice.present?
      p.alert.alert-success= notice
    - if alert.present?
      p.alert.alert-warning= alert
    - if signed_in?
      = render partial: 'shared/navbar'
    main
      .container.mt-5.mb-5
        = yield
